<div class="container">
  <div class="jumbotron text-center">
    <h1>Aainball Scoreboard</h1>
    <p class="lead">Welcome Aainball to scoreboard application!</p>
    <div *ngIf="!this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/register']">Register</a>
      <span style="margin-left:4px; margin-right:4px;">or</span>
      <a class="btn btn-info" [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="this.authService.loggedIn()">
      <a class="btn btn-primary" [routerLink]="['/chat']">Scoreboard Room</a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2 text-center">

    </div>
    <div class="col-md-8 text-center">
      <h3>Aainball Asia</h3>
      <p>
It’s empirically proven that colors have a stimulating power on the brain and can help stimulate the learning process, In light of this; Mohamed Hamane conducted an in-depth study on colors and studied their impact by compiling and synthesizing different recent researches. In today’s time, colors are being used as an effective means to achieve targeted responses and to influence behaviors of the prospect. Entailing the similar notion, Hamane thought of designing a game that combines the prominent colors and a sport that involves all parts of the body and various set of skills. Yoti Foundation has taken an initiative to promote this unique game in India and profusely structure the Aainball Federation of India.
      </p>
      <p>
        <a href="https://aainball.asia/" target="_blank">Aainball Asia</a>
      </p>
    </div>
    <div class="col-md-2 text-center">

    </div>
  </div>
</div>
